*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  /* background-color: aqua; */
}
table{
  margin-left: 20px;
  margin-top: 20px;
  width: 50%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
th,td{
  padding: 10px;
}